header {
    background-image: url('../images/rpf_header.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main h2 {
    padding-top: 1em;
    padding-bottom: .5em;
    text-align: center;
    font-size: 2.5vw;
    font-style: italic;
    text-shadow: 1px 1px 2px black;
    color: yellow;
}

section {
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 5%;
    padding-right: 3%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 1em;
    margin-bottom: 2em;
    border-right: 2px dashed black;
    border-left: 2px dashed black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 20%;
    background-image: url('../images/rpf1.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section h3 {
    padding-top: 1em;
    padding-bottom: .5em;
    font-size: 150%;
    color: yellow;
    
    text-shadow: 1px 1px 2px black;
}
section p {
    padding-bottom: .5em;
    padding-left: 5em;
    font-size: 140%;
    font-weight: 700;
    color: rgb(252, 248, 248);
    text-shadow: 1px 1px 2px black;
    
}

/* Media Queries */

@media only screen and (max-width: 1190px) {
    main h2 {
        font-size: 3vw;
    }
    section {
        margin-right: 15%;
        margin-left: 15%;
    }
}
@media only screen and (max-width: 970px) {
      main h2 {
        font-size: 3.5vw;
    }
    section {
        margin-right: 10%;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 840px) {
    main h2 {
        font-size: 4vw;
    }
    section p {
        padding-left: 3em;
    }
}
@media only screen and (max-width: 680px) {
    main h2 {
        font-size: 5.5vw;
    }
}
@media only screen and (max-width: 470px) {
      main h2 {
        font-size: 7vw;
    }
}