
header {
    background-image: url('../images/rpf_header.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

video {
    display: block;
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 1em;
}

h3 {
    text-align: center;
    padding-bottom: 2em;
}

@media only screen and (max-width: 700px) {
    main {
        margin-right: 1em;
        margin-left: 1em;
    }
    video {
        height: auto;
        width: 100%;
    }
}