
header {
    background-image: url('../images/rpf_header.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border: dashed yellow;
}

p {
    font-size: 150%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 600;
    color: yellow;
    -webkit-text-stroke: 1PX black;
}